nav {
    background-color: gray;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

img {
    width: 150px;
    height: auto;
    border: 2px;
    box-shadow: 0 0 30px gray;

}
 p {
    padding: 10px;
 }

 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }